@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
    padding: 0;
    margin: 0;
        font-family: "Pixelify Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        overflow-x: hidden;
}

html {
    overflow-x: hidden;
}
.header-container {
    background-color: #681dff;
    height: fit-content;
   
}


.nav {
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul {
    border: transparent solid 2px;
width: 250px;
transition: 1s;
}

.nav li {
    letter-spacing: 4px;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 35px;
    font-weight: 900;
    padding: 10px;
}

.nav ul:hover {
    border: #261a46 solid 2px;
    box-shadow: 2px 2px 5px #261a46;
    border-radius: 6px;
cursor: pointer;
background: #FBFF00 url('../images/pixelBtn.png');
transition-delay: 0.8s;
background-size: 250px;
-webkit-animation: Btn 1s steps(8) forwards;
animation: Btn 1s steps(8) forwards;
}

@keyframes Btn {
    0% {
        background-position-y: 0px;
    }
    50% {
        background-position-y: -900px;
    }
}

@-webkit-keyframes Btn {
    0% {
        background-position-y: 0px;
    }
    50% {
        background-position-y: -900px;
    }
}

.header-container {
    text-align: center;
}
 .header-container h1 {
    font-size: 75px;
    color: white;
    text-shadow: 2px 2px 5px black;
    margin-top: 150px;
   margin-bottom: 60px;
    font-weight: 900;
 }

 .header-container p {
    font-size:55px;
    color: white;
    text-shadow: 2px 2px 5px black;
 }


.left {
    width: 5.5%;
    height: auto;
    position: absolute;
    top: 280px;
left: 25%;
}

.right {
    width: 5.5%;
    height: auto;
    position: absolute;
    top: 280px;
right: 25%;

}

.space {
    background-color: #FBFF00;
    height:auto;
    margin-top: 165px;
    overflow-x: hidden;
}

.pacman {
    width: 25%;
    height: auto;
animation: pac 10s linear infinite;
}

@keyframes pac {
    0%{
        transform: translateX(400%);
    }
    100%{
        transform: translateX(-100%);
    }
}



.heart {
    position: absolute;
    top: 28px;
    right: 10%;
    width: 12%;
    height: auto;
}

.threeheart {
    position: absolute;
    top: 25px;
    left: 9.5%;
    width: 12%;
    height: auto;
}

.cards-container {
    height: fit-content;
    background-color: #681dff;
}


.circle {
    position: absolute;
    right: 10%;
    top: 125%;
  
    width: 25%;
    height: auto;
}




.cardcontent  {
margin: 180px 100px;
width: 40%;
text-align: center;
}

.cardcontent h2 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #FBFF00;
    text-shadow: 2px 2px 5px black;

}

.cardcontent p {
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.line2 {
    margin-top: 70px;
}

.card {
    width: 260px;
    height: 370px;
    background-color: #261a46;
    margin-top: -250px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    width: 265px;
    height: 375px;
    box-shadow: 2px 2px 20px rgba(255, 255, 255, 0.682);
}

.cardsFcontainer{
    margin: 530px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: visible;

}

.cardsScontainer {
    margin-top: -200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-x: visible;
}


.three .tictactoe {
  padding-top: 20px;

}

.card button {
    color: white;
    font-size: 30px;
    margin-top: 24%;
    margin-left: 10px;
}

.card button:hover {
    cursor: pointer;
}

.card img {
    width: 90%;
    margin: 0px auto;
}

.two .match {
    padding: 20px 10px;
}

/* .two button {
    margin-top: 54px;
} */

.four img{
    padding: 20px 0px;
}

.four button {
    margin-top: 40%;
}

.five img {
    padding-top: 20px;
    width: 250px;
    height: 240px;
}


.chesscard {
    padding-top: 20px;
    width: 80%;
}

.one button {
    margin-top: 7%;

} 

.section-container {
    height: fit-content;
}
.sec-one {
    height: fit-content;
    background-color: #1D2298;
    text-align: center;
}

.sec-one h3 {
    color: #FBFF00;
    text-shadow: 2px 2px 5px black;
    font-size: 45px;
    letter-spacing: 3px;
   padding-top: 60px;
}

.pi {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pic img {
    width: 60%;
    height: auto;
}

.pic h4 {
    width: 20%;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 35px;
    display: inline;
    letter-spacing: 2px;
}

.pic1ani {
    width: 10.5%;
    height: auto;
    position: relative;
    left: 46%;
   top: 220px;
}

.pic2 {
    margin-top: -100px;
}

.sarokhpic2 {
    width: 6.5%;
    height: auto;
 position: relative;
    left: 45%;
   top: 250px;
}

.pic3 {
    margin-top: -100px;
}
.earth {
    width: 8.5%;
    height: auto;
    position: relative;
    left: 47%;
   top: 200px;
}

.loading {
    width: 20% ;
    height: auto;
}


.loading-container {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 120px;
   margin-bottom: 50px;
}

.sec-two {
    height: fit-content;
    background-color: #681dff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0px;

}


.world {
    width: 70%;
    height: auto;
}

.sec-two h4 {
    margin-left: 50px;
    color: #FBFF00;
    text-shadow: 2px 2px 5px black;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 900;
}

.sec-two p {
    margin-left: 50px;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 30px;
    letter-spacing: 1px;
    width: 60%;
}

.pacman2 {
    width: 25%;
    height: auto;
animation: pac 10s linear infinite;
}

.space2 {
    background-color: #FBFF00;
    overflow-x: hidden;
}

.sec-three {
    height: fit-content;
    background-color: #8AD22E;
}

.sec-three h4{
margin-top: 300px;
margin-bottom: 40px;
font-size: 70px;
text-align: center;
color: #222044;
text-shadow: 2px 2px 5px black;

}

.sec-three h5 {
    font-size: 40px;
color: rgba(255, 255, 255, 0.958);
text-shadow: 2px 2px 5px black; 
text-align: center;
margin-bottom: 300px;
}

.footer {
    background-color: #1D2298;
    text-align: center;

}

.footer h5 {
    color: #8AD22E;
    padding: 70px 0px;
    font-size: 30px;
    text-shadow: 2px 2px 5px black;
    text-decoration-line: underline;
}

@media  screen and (max-width:2200px) and (min-width:1900px) {
    .nav li {
       font-size: 50px;
    }

    .nav ul {
        width: 280px;
    }
    .nav ul:hover {
        background-size: 280px; 
    }
       .header-container h1 {
           font-size: 80px;
       }
       
       .header-container p {
           font-size: 65px;
       }
       .left , .right {
           top: 290px;
       }
       .circle {
           top: 95%;
       }
   
       .cardcontent h2 {
           font-size: 45px;
       }
   
       .cardcontent p {
           font-size: 35px;
       }
   
       .card {
           width: 310px;
           height: 420px;
           margin-left: 25px;
           margin-right: 25px;
       }
   
       .card:hover {
        width: 315px;
           height: 425px;
       }
       .sec-one h3 {
           font-size: 60px;
       }
   
       .pic h4 {
           font-size: 45px;
       }
       .pic1ani {
          top: 255px;
       }
   
       .sarokhpic2 {
          top: 285px;
       }
   
       .earth {
          top: 245px;
       }
   
       .sec-two h4 {
           font-size: 55px;
       }
       
       .sec-two p {
           font-size: 40px;
       }
       
       
   .sec-three h4{
       font-size: 85px; 
       
       }
       
       .sec-three h5 {
           font-size: 55px;
       }
       
       .footer h5 {
           padding: 70px 0px;
       }
       
   }

@media  screen and (max-width:1900px) and (min-width:1750px) {
    .nav li {
       font-size: 50px;
    }

    .nav ul {
        width: 280px;
    }
    .nav ul:hover {
        background-size: 280px; 
    }
       .header-container h1 {
           font-size: 80px;
       }
       
       .header-container p {
           font-size: 65px;
       }
       .left , .right {
           top: 290px;
       }
       .circle {
           top: 95%;
       }
   
       .cardcontent h2 {
           font-size: 45px;
       }
   
       .cardcontent p {
           font-size: 35px;
       }
   
       .card {
           width: 290px;
           height: 400px;
           margin-left: 25px;
           margin-right: 25px;
       }
       .card:hover {
        width: 295px;
        height: 405px;
       }

       .sec-one h3 {
           font-size: 60px;
       }
   
       .pic h4 {
           font-size: 45px;
       }
       .pic1ani {
          top: 255px;
       }
   
       .sarokhpic2 {
          top: 285px;
       }
   
       .earth {
          top: 245px;
       }
   
       .sec-two h4 {
           font-size: 55px;
       }
       
       .sec-two p {
           font-size: 40px;
       }
       
       
   .sec-three h4{
       font-size: 85px; 
       
       }
       
       .sec-three h5 {
           font-size: 55px;
       }
       
       .footer h5 {
           padding: 70px 0px;
       }
       
   }


@media  screen and (max-width:1750px) and (min-width:1650px) {
    .nav li {
       font-size: 45px;
    }
       .header-container h1 {
           font-size: 75px;
       }
       
       .header-container p {
           font-size: 60px;
       }
       .left , .right {
           top: 290px;
       }
       .circle {
           top: 95%;
       }
   
       .cardcontent h2 {
           font-size: 45px;
       }
   
       .cardcontent p {
           font-size: 35px;
       }
   
       .card {
           width: 290px;
           height: 400px;
           margin-left: 25px;
           margin-right: 25px;
       }

       .card:hover {
        width: 295px;
        height: 405px;
       }
   
       .sec-one h3 {
           font-size: 55px;
       }
   
       .pic h4 {
           font-size: 45px;
       }
       .pic1ani {
          top: 235px;
       }
   
       .sarokhpic2 {
          top: 265px;
       }
   
       .earth {
          top: 225px;
       }
   
       .sec-two h4 {
           font-size: 55px;
       }
       
       .sec-two p {
           font-size: 40px;
       }
       
       
   .sec-three h4{
       font-size: 80px; 
       
       }
       
       .sec-three h5 {
           font-size: 50px;
       }
       
       .footer h5 {
           padding: 70px 0px;
       }
       
   }

@media  screen and (max-width:1650px) and (min-width:1500px) {
 .nav li {
    font-size: 45px;
 }
    .header-container h1 {
        font-size: 75px;
    }
    
    .header-container p {
        font-size: 60px;
    }
    .left , .right {
        top: 290px;
    }
    .circle {
        top: 95%;
    }

    .cardcontent h2 {
        font-size: 45px;
    }

    .cardcontent p {
        font-size: 35px;
    }

    .card {
        width: 280px;
        height: 390px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .card:hover {
        width: 285px;
        height: 395px;
       }

    .sec-one h3 {
        font-size: 50px;
    }

    .pic h4 {
        font-size: 40px;
    }
    .pic1ani {
       top: 220px;
    }

    .sarokhpic2 {
       top: 250px;
    }

    .earth {
       top: 210px;
    }

    .sec-two h4 {
        font-size: 50px;
    }
    
    .sec-two p {
        font-size: 35px;
    }
    
    
.sec-three h4{
    font-size: 75px; 
    
    }
    
    .sec-three h5 {
        font-size: 45px;
    }
    
    .footer h5 {
        padding: 70px 0px;
    }
    
}



@media  screen and (max-width:1500px) and (min-width:1350px) {
    
    .circle {
        top: 90%;
    }
    .pic1ani {
       top: 200px;
    }

    .sarokhpic2 {
       top: 230px;
    }

    .earth {
       top: 180px;
    }
}



@media  screen and (max-width:1350px) and (min-width:1250px) {

    .header-container h1 {
        font-size: 70px;
    }
    
    .header-container p {
        font-size: 50px;
    }
    .left {
    left: 23%;
    }
    
    .right {
    right: 23%;
    
    }
    .circle {
        top: 90%;
    }


    .cardsFcontainer {
        margin-top: -50px;
    }

    .card {
margin: 20px;
    }

    .cardsScontainer {
        margin-top: -500px;
    }
    .pic1ani {
       top: 190px;
    }

    .sarokhpic2 {
       top: 220px;
    }

    .earth {
       top: 175px;
    }
    .pic h4 {
        font-size: 30px;
    }
    .sec-three h4{
        font-size: 65px;
        }
        
        .sec-three h5 {
            font-size: 38px;
        }
}

@media  screen and (max-width:1250px) and (min-width:1150px) {

    .header-container h1 {
        font-size: 65px;
    }
    
    .header-container p {
        font-size: 45px;
    }
    .left {
        left: 22%;
        }
        
        .right {
        right: 22%;
        
        }
    .circle {
        top: 90%;
    }


    .cardsFcontainer {
        margin-top: -50px;
    }

    .card {
margin: 20px;
    }

    .cardsScontainer {
        margin-top: -500px;
    }
    .pic1ani {
       top: 165px;
    }

    .sarokhpic2 {
       top: 195px;
    }

    .earth {
       top: 155px;
    }
    .pic h4 {
        font-size: 30px;
    }
    .sec-three h4{
        font-size: 60px;
        }
        
        .sec-three h5 {
            font-size: 35px;
        }
}

@media  screen and (max-width:1150px) and (min-width:1050px) {
    .nav li {
        font-size: 30px;
    }

    .header-container h1 {
        font-size: 60px;
    }
    
    .header-container p {
        font-size: 40px;
    }
    .left {
        left: 22%;
        top: 270px;
        }
        
        .right {
            top: 270px;
        right: 22%;
        }
        .sec-one h3 {
            font-size: 35px;
        }
    .circle {
        top: 90%;
    }
    .cardcontent h2 {
        font-size: 35px;
    }

    .cardcontent p {
        font-size: 30px;
    }

    .cardsFcontainer {
        margin-top: -50px;
    }

    .card {
margin: 20px;
    }

    .cardsScontainer {
        margin-top: -500px;
    }
    .pic1ani {
        width: 10%;
       top: 155px;
    }

    .sarokhpic2 {
        width: 6%;
       top: 180px;
    }

    .earth {
        width: 8%;
       top: 145px;
    }
    .pic h4 {
        font-size: 30px;
    }

    .sec-two h4 {
        font-size: 35px;
        margin-left: 30px;
    }
    
    .sec-two p {
        font-size: 20px;
        margin-left: 30px;
    }
    .sec-three h4{
        font-size: 55px;
        }
        
        .sec-three h5 {
            font-size: 30px;
        }
        .footer h5 {
            font-size: 25px;
        }
        
}


@media  screen and (max-width:1050px) and (min-width:950px) {
    .nav li {
        font-size: 30px;
    }
    .heart ,.threeheart {
        width: 13%;
        top: 30px;
    }
    .header-container h1 {
        font-size: 60px;
    }
    
    .header-container p {
        font-size: 40px;
    }
    .left {
        left: 22%;
        top: 270px;
        }
        
        .right {
            top: 270px;
        right: 22%;
        
        }

    .circle {
        right: 5%;
        width: 30%;
        top: 83%;
    }
    .cardcontent h2 {
        font-size: 35px;
    }

    .cardcontent p {
        font-size: 30px;
    }

    .cardsFcontainer {
        margin-top: -50px;
    }

    .card {
        text-align: center;
        width: 400px;
margin: 20px;
    }
 
    .card:hover {
        width: 405px;
    }

    .card img {
        width: 65%;
    }

    .card button {
        margin-top: 30px;

    }

    .four button {
        margin-top: 60px;
    }

    .cardsScontainer {
        margin-top: -500px;
    }
    .sec-one h3 {
        font-size: 35px;
    }
    .pic1ani {
        width: 10%;
       top: 140px;
    }

    .sarokhpic2 {
        width: 6%;
       top: 165px;
    }

    .earth {
        width: 8%;
       top: 130px;
    }
    .pic h4 {
        font-size: 30px;
    }

    .sec-two h4 {
        font-size: 35px;
        margin-left: 30px;
    }
    
    .sec-two p {
        font-size: 20px;
        margin-left: 30px;
    }
    .sec-three h4{
        font-size: 55px;
        }
        
        .sec-three h5 {
            font-size: 30px;
        }
        .footer h5 {
            font-size: 25px;
        }
        
}



@media  screen and (max-width:950px) and (min-width:850px) {
    .nav li {
        font-size: 30px;
    }
    .heart ,.threeheart {
        width: 13%;
        top: 30px;
    }
    .header-container h1 {
        font-size: 55px;
    }
    
    .header-container p {
        font-size: 35px;
    }
    .left {
        left: 20%;
        top: 270px;
        }
        
        .right {
            top: 270px;
        right: 20%;
        
        }

        .cardcontent {
            margin: 160px 30px;
        }

    .circle {
        right: 5%;
        width: 35%;
        top: 78%;
    }
    .cardcontent h2 {
        font-size: 35px;
    }

    .cardcontent p {
        font-size: 30px;
    }

    .cardsFcontainer {
        margin-top: -10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .card {
        text-align: center;
        width: 300px;
margin: 20px;
    }

    .card:hover {
        width: 305px;
    }

    .card img {
        width: 65%;
    }

    .card button {
        margin-top: 30px;

    }

    .four button {
        margin-top: 60px;
    }

    .five img {
        width: 200px;
    }
    .cardsScontainer {
        margin-top: -500px;
    }
    .sec-one h3 {
        font-size: 35px;
    }
    .pic1ani {
        width: 10%;
       top: 125px;
    }

    .sarokhpic2 {
        width: 6%;
       top: 150px;
    }

    .earth {
        width: 8%;
       top: 115px;
    }
    .pic h4 {
        font-size: 25px;
    }

    .sec-two h4 {
        font-size: 35px;
        margin-left: 30px;
    }
    
    .sec-two p {
        font-size: 20px;
        margin-left: 30px;
    }
    .sec-three h4{
        font-size: 50px;
        }
        
        .sec-three h5 {
            font-size: 25px;
        }
        .footer h5 {
            font-size: 25px;
        }
        
}



@media  screen and (max-width:850px) and (min-width:750px) {
    .nav li {
        font-size: 30px;
    }
    .heart ,.threeheart {
        width: 14%;
        top: 30px;
    }
    .header-container h1 {
        font-size: 55px;
    }
    
    .header-container p {
        font-size: 35px;
    }
    .left {
        width: 6%;
        left: 18%;
        top: 270px;
        }
        
        .right {
            width: 6%;
            top: 270px;
        right: 18%;
        
        }

        .cardcontent {
            margin: 160px 30px;
        }

    .circle {
        right: 5%;
        width: 35%;
        top: 78%;
    }
    .cardcontent h2 {
        font-size: 30px;
    }

    .cardcontent p {
        font-size: 25px;
    }
.cardsFcontainer {
    margin-top: -10px;
    margin-left: 0px;
    margin-right: 0px;
}

    .card {
        text-align: center;
        width: 350px;
margin: 20px;
    }

    .card:hover {
        width: 355px;
    }

    .card img {
        width: 65%;
    }

    .card button {
        margin-top: 30px;

    }

    .four button {
        margin-top: 60px;
    }

    .five img {
        width: 200px;
    }

    .cardsScontainer {
        margin-top: -500px;
    }
    .sec-one h3 {
        font-size: 30px;
    }
    .pic1ani {
        width: 10%;
       top: 110px;
    }

    .sarokhpic2 {
        width: 6%;
       top: 130px;
    }

    .earth {
        width: 8%;
       top: 100px;
    }
    .pic h4 {
        font-size: 20px;
    }

    .sec-two h4 {
        font-size: 35px;
        margin-left: 30px;
    }
    
    .sec-two p {
        font-size: 20px;
        margin-left: 30px;
    }
    .sec-three h4{
        font-size: 45px;
        }
        
        .sec-three h5 {
            font-size: 23px;
        }
        .footer h5 {
            font-size: 25px;
        }
        
}

@media  screen and (max-width:750px) and (min-width:650px) {
    .nav li {
        font-size: 30px;
    }
    .heart ,.threeheart {
        width: 14%;
        top: 32px;
    }
    .header-container h1 {
        margin-top: 100px;
        font-size: 50px;
        margin-bottom: 50px;
    }
    
    .header-container p {
        font-size: 30px;
    }
    .left {
        width: 5.5%;
        left: 16%;
        top: 220px;
        }
        
        .right {
            width: 5.5%;
            top: 220px;
        right: 16%;
        
        }

        .space {
            margin-top: 135px;
        }


        .cardcontent {
            margin: 160px 30px;
        }

    .circle {
        right: 5%;
        width: 35%;
        top: 78%;
    }
    .cardcontent h2 {
        font-size: 30px;
    }

    .cardcontent p {
        font-size: 25px;
    }
.cardsFcontainer {
    margin-top: -50px;
    margin-left: 0px;
    margin-right: 0px;
}

    .card {
        text-align: center;
        width: 250px;
margin: 20px;
    }

    .card:hover {
        width: 255px;
    }

    .card img {
        width: 65%;
    }

    .card button {
        margin-top: 30px;

    }

    .four button {
        margin-top: 60px;
    }

    .five img {
        width: 200px;
    }

    .cardsScontainer {
        margin-top: -500px;
    }
    .sec-one h3 {
        font-size: 30px;
    }
    .pic1ani {
        width: 9.5%;
       top: 95px;
       left: 46.5%;
    }

    .sarokhpic2 {
        width: 6%;
       top: 115px;
    }

    .earth {
        width: 7.5%;
       top: 85px;
       left: 47.5%;
    }
    .pic h4 {
        font-size: 20px;
    }

    .sec-two h4 {
        font-size: 25px;
        margin-left: 20px;
    }
    
    .sec-two p {
        font-size: 20px;
        margin-left: 20px;
    }
    .sec-three h4{
        font-size: 40px;
        }
        
        .sec-three h5 {
            font-size: 20px;
        }
        .footer h5 {
            font-size: 20px;
        }
        
}


@media  screen and (max-width:650px) and (min-width:550px) {
    .nav li {
        font-size: 25px;
    }
    .heart ,.threeheart {
        width: 14%;
        top: 35px;
    }
    .header-container h1 {
        margin-top: 100px;
        font-size: 40px;
        margin-bottom: 50px;
    }
    
    .header-container p {
        font-size: 25px;
    }
    .left {
        width: 5.5%;
        left: 16%;
        top: 215px;
        }
        
        .right {
            width: 5.5%;
            top: 215px;
        right: 16%;
        
        }

        .space {
            margin-top: 135px;
        }


        .cardcontent {
            margin: 140px 30px;
        }

    .circle {
        right: 5%;
        width: 35%;
        top: 65%;
    }
    .cardcontent h2 {
        font-size: 25px;
    }

    .cardcontent p {
        font-size: 20px;
    }
.cardsFcontainer {
    margin-top: -50px;
    margin-left: 0px;
    margin-right: 0px;
}

    .card {
        text-align: center;
        width: 250px;
margin: 20px;
    }

    .card:hover {
        width: 255px;
    }

    .card img {
        width: 65%;
    }

    .card button {
        margin-top: 30px;

    }

    .five img {
        width: 200px;
    }
    .four button {
        margin-top: 60px;
    }



    .cardsScontainer {
        margin-top: -500px;
    }
    .sec-one h3 {
        font-size: 25px;
        letter-spacing: 2px;
    }
    .pic1ani {
        width: 9.5%;
       top: 80px;
       left: 46.5%;
    }

    .sarokhpic2 {
        width: 6%;
       top: 105px;
    }

    .earth {
        width: 7.5%;
       top: 75px;
       left: 47.5%;
    }
    .pic h4 {
        font-size: 15px;
    }

    .pic2 {
        margin-top: -60px;
    }

    .pic3 {
        margin-top: -50px;
    }
    .sec-two h4 {
        font-size: 20px;
        margin-left: 20px;
    }
    
    .sec-two p {
        font-size: 15px;
        margin-left: 20px;
    }
    .sec-three h4{
        font-size: 35px;
        }
        
        .sec-three h5 {
            font-size: 18px;
        }
        .footer h5 {
            font-size: 20px;
        }
        
}


@media  screen and (max-width:550px) and (min-width:450px) {
    .nav li {
        font-size: 20px;
    }
    .heart ,.threeheart {
        width: 14%;
        top: 35px;
    }
    .header-container h1 {
        margin-top: 100px;
        font-size: 30px;
        margin-bottom: 50px;
    }
    
    .header-container p {
        font-size: 20px;
    }
    .left {
        width: 6%;
        left: 16%;
        top: 193px;
        }
        
        .right {
            width: 6%;
            top: 193px;
        right: 16%;
        
        }

        .space {
            margin-top: 135px;
        }


        .cardcontent {
            margin: 120px 30px;
        }

    .circle {
        right: 5%;
        width: 35%;
        top: 60%;
    }
    .cardcontent h2 {
        font-size: 20px;
    }

    .cardcontent p {
        font-size: 20px;
    }
.cardsFcontainer {
    margin-top: -50px;
    margin-left: 0px;
    margin-right: 0px;
}

    .card {
        text-align: center;
        width: 400px;
        height: 200px;
margin: 20px;
display: flex;
align-items: center;
justify-content: space-between;
    }

    .card:hover {
        width: 405px;
        height: 205px;
    }

    .card img {
        width: 40%;
        height: auto;
    }
    .one img {
        padding-top: 0px;
        width: 40%;
       margin-left: 1px;
    }
    .card button {
font-size: 28px;
margin-right: 10px;
    }

    .four {
        overflow-y: hidden;
    }

    .four button {
        margin-bottom: 40px;
    }

    .five img {
        width: 150px;
    }
    



    .cardsScontainer {
        margin-top: -500px;
    }
    .sec-one h3 {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .pic1ani {
        width: 9.5%;
       top: 70px;
       left: 46.5%;
    }

    .sarokhpic2 {
        width: 6%;
       top: 80px;
    }

    .earth {
        width: 7.5%;
       top: 60px;
       left: 47.5%;
    }
    .pic h4 {
        font-size: 15px;
    }

    .pic2 {
        margin-top: -60px;
    }

    .pic3 {
        margin-top: -50px;
    }
    .sec-two h4 {
        font-size: 18px;
        margin-left: 20px;
    }
    
    .sec-two p {
        font-size: 13px;
        margin-left: 20px;
    }

    .sec-three h4{
        font-size: 30px;
        margin-top: 200px;
        }
        
        .sec-three h5 {
            font-size: 15px;
            margin-bottom: 200px;
        }
        .footer h5 {
            font-size: 13px;
        }
        
}




@media  screen and (max-width:450px) and (min-width:350px) {
    .nav li {
        font-size: 18px;
    }
    .heart ,.threeheart {
        width: 14%;
        top: 35px;
    }
    .header-container h1 {
        margin-top: 100px;
        font-size: 25px;
        margin-bottom: 50px;
    }
    
    .header-container p {
        font-size: 18px;
    }
    .left {
        width: 6%;
        left: 16%;
        top: 193px;
        }
        
        .right {
            width: 6%;
            top: 193px;
        right: 16%;
        
        }

        .space {
            margin-top: 135px;
        }


        .cardcontent {
            margin: 150px 30px;
        }

    .circle {
        right: 5%;
        width: 35%;
        top: 60%;
    }
    .cardcontent h2 {
        font-size: 16px;
    }

    .cardcontent p {
        font-size: 15px;
    }
.cardsFcontainer {
    margin-top: -70px;
    margin-left: 0px;
    margin-right: 0px;
}

    .card {
        text-align: center;
        width: 350px;
        height: 150px;
margin: 20px;
display: flex;
align-items: center;
justify-content: space-between;
    }

    .card:hover {
        width: 355px;
        height: 155;
    }

    .card img {
        width: 35%;
        height: auto;
        margin-left: 10px;
    }
    .one img {
        padding-top: 0px;
    }
    .card button {
font-size: 20px;
margin-right: 10px;
    }

    .four {
        overflow-y: hidden;
    }

    .four button {
        margin-bottom: 40px;
    }

    .five img {
        width: 130px;
    }
    



    .cardsScontainer {
        margin-top: -500px;
    }
    .sec-one h3 {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .pic1ani {
        width: 9.5%;
       top: 50px;
       left: 46.5%;
    }

    .sarokhpic2 {
        width: 6%;
       top: 60px;
    }

    .earth {
        width: 7.5%;
       top: 45px;
       left: 47.5%;
    }
    .pic h4 {
        font-size: 13px;
    }

    .pic2 {
        margin-top: -40px;
    }

    .pic3 {
        margin-top: -30px;
    }

    
.loading-container {
    margin-top: 50px;
    margin-bottom: 30px;
 }
 
    .sec-two h4 {
        font-size: 15px;
        margin-left: 10px;
    }
    
    .sec-two p {
        font-size: 13px;
        margin-left: 10px;
    }

    .sec-three h4{
        font-size: 25px;
        margin-top: 200px;
        }

        
        .sec-three h5 {
            font-size: 12px;
            margin-bottom: 200px;
        }
        .footer h5 {
            font-size: 13px;
            padding: 50px 0px;
        }
        
}


