@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
        font-family: "Pixelify Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
}

.tictac-title {
  text-align: center;
  margin: 20px;
  color: white;
  text-shadow: 2px 2px 5px black;
  font-size: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 900;
}
.tic-reset {
padding: 5px;
background-color: transparent;
color: white;
text-shadow: 2px 2px 5px black;
border: white 2px solid;
font-size: 25px;
transition: 0.3s;
}

.tic-reset:hover {
    color: black;
    background-color: #BFFB4F;
    border: #BFFB4F 2px solid;
    letter-spacing: 2px;
}

.tic-home {
    width: 60px;
    height: 60px;
   position: absolute;
   top: 30px;
   left: 60px;
}

.tic-home:hover {
    cursor: pointer;
}

.tictac-winner {
    color: white;
    text-shadow: 2px 2px 5px black;
    margin-bottom: 25px;
    font-size: 25px;
    letter-spacing: 2px;
}

.tictac-square{
height:150px;
    width:150px;
     font-size:75px;
     border: 5px solid white ;
     background-color: transparent; 
     color: #BFFB4F;
}

.match-Btn {
    font-size: 25px;
    padding: 5px;
    background-color: transparent;
    color: white;
    border: 2px solid 20;
    border-radius: 5px;
    letter-spacing: 2px;
    transition: 0.3s;
    text-shadow: 2px 2px 5px black;
    }
    
    .match-Btn:hover {
        text-decoration: solid;
        color: black;
        letter-spacing: 3px;
        font-weight: 900;
        text-shadow: 5px 5px 10px white;
    }

    .match-card {
        position: relative;
    }
    
    .match-card img {
        width: 100%;
        display: block;
        border: 2px solid #EDE4FF;

    }
    
    .match-card .match-front {
        transform: rotateY(90deg);
        position: absolute;
        transition: all ease-in 0.2s;
    }
    
    .match-flipped .match-front {
        transform: rotateY(0deg);
        transition-delay: 0.1s;
    }
    
    .match-card .match-cover {
    transition: all ease-in 0.2s;
    transition-delay: 0.1s;
    }
    
    .match-flipped .match-cover {
        transform: rotateY(90deg);
        transition-delay: 0;
    }
    .match-front , .match-cover {
      width: 130px;
height: 130px;
    }

    .match-title {
      letter-spacing: 3px;
      margin: 15px;
      font-size: 40px;
      font-weight: 900;
      color: white;
      text-shadow: 2px 2px 5px black;
    }

    .match-turns {
      color: white;
      margin-top: 10px;
      font-size: 25px;
    }




    .boom-title {
      text-align: center;
      color: #FDFFD2;
      padding: 20px 0px;
      text-shadow: 2px 2px 5px black;
      font-size:45px;
  }

    .boom-cellStyle {
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 30px;
        font-weight: 800;
      }
      
      
      
      .boom-tryAgain {
        cursor: pointer;
        font-size: 30px;
        color: #FDFFD2;
        padding: 10px;
        font-weight: 700;
        transition: 0.2s;
      }
      
      .boom-tryAgain:hover {
        letter-spacing: 2px;
        text-shadow: 2px 2px 5px black;
      }
      


      .Hangman{
        margin: 0 auto;
      }
      
      .Hangman-title {
        padding: 30px 0px;
          text-align: center;
          font-size: 50px;
          letter-spacing: 3px;
          color: white;
          text-shadow: 2px 2px 5px black;
      }
      
      .Hangman-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      
      .Hangman-Gussed-sec {
        margin-left: 100px;
      
      }
      
      .Hangman img{
        width: 300px;
        max-height: auto;
      margin-bottom: 30px;
      }
      
      .Hangman-key-sec {
        margin-top: 150px;
       margin-left: 250px;
       margin-right: 250px;
        text-align: center;
      }
      
      .Hangman-word {
        letter-spacing: 1em;
        font-size: 40px;
        text-align: center;
        margin-bottom: 10px;
      }
      
      .Hangman-btns {
       text-align: center;
        width: 750px;
      }
      
      .Hangman button {
        border: none;
        font-family: inherit;
        font-weight: 700;
        font-size: 35px;
        cursor: pointer;
        width: 70px;
        height: 70px;
        margin: 5px 5px;
        letter-spacing: 1px;
        outline: none;
        background: #f7fcf1;
        color: black;
        padding-top: 4px;
      }
      
      .Hangman button:hover {
        background: #96EFFF;
      }
      
      .Hangman button:disabled {
        background: #96EFFF;
      
      }
      
      #reset {
        width: 220px;
      margin-top: 50px;
        background: #5FBDFF;
        transition: 0.2s;
        color: black;
          text-shadow: 2px 2px 5px white;
      
      }
      #reset:hover {
        letter-spacing: 2px;
        text-shadow: 2px 2px 5px white;
      }
      
      
      .Guessed {
          font-size: 25px;
          color: white;
          text-shadow: 2px 2px 5px black;
      }

      .Guess {
        color: white;
        text-shadow: 2px 2px 5px black;
        letter-spacing: 1px;
        font-size: 25px;
      }
      


 @media screen and (max-width:1000px) and (min-width:700px) {
  
.tic-home {
  width: 50px;
    height: 50px;
}
        .match-front , .match-cover  {
width: 110px;
height: 110px;
        }
        .match-title {
          font-size: 35px;
        }
        .match-turns ,  .match-Btn , .tictac-winner ,.tic-reset {
          font-size: 25px;
        }

        .tictac-title {
          font-size: 40px;
        }
        .tictac-square{
          height:130px;
              width:130px;
              font-size:65px;
             }


             .boom-cellStyle {
              width: 45px;
              height: 45px;
              font-size: 25px;
             }

             .boom-tryAgain {
              font-size: 25px;
             }
             .boom-title {
             font-size: 45px;
             }
          
      }

      @media screen and (max-width:700px) and (min-width:600px) {
        .tic-home {
          width: 40px;
            height: 40px;
            left: 50px;
        }
        .match-front , .match-cover   {
width: 100px;
height: 100px;
        }
        .match-title {
          font-size: 30px;
        }
        .match-turns ,  .match-Btn , .tictac-winner ,.tic-reset ,.boom-tryAgain{
          font-size: 20px;
        }
  
        .tictac-title {
          font-size: 40px;
        }
        .tictac-square{
          height:130px;
              width:130px;
              font-size:65px;
             }

             .boom-cellStyle {
              width: 35px;
              height: 35px;
              font-size: 20px;
             }

             .boom-title {
             font-size: 35px;
             margin-bottom: 20px;
             }
      }

      @media screen and (max-width:600px) and (min-width:500px) {
        .tic-home {
          width: 35px;
            height: 35px;
            left:40px;
        }
        .match-front , .match-cover  {
width: 80px;
height: 80px;
        }
        .match-title {
          font-size: 25px;
        }
        .match-turns ,  .match-Btn , .tictac-winner ,.tic-reset , .boom-tryAgain {
          font-size: 20px;
        }
        .tictac-title {
          font-size: 35px;
        }
        .tictac-square{
          height:110px;
              width:110px;
              font-size:50px;
             }

             .boom-cellStyle {
              width: 30px;
              height: 30px;
              font-size: 20px;
             }

             .boom-title {
             font-size: 30px;
             margin-bottom: 20px;
             }
      }

      @media screen and (max-width:500px) and (min-width:400px) {
        .tic-home {
          width: 30px;
            height: 30px;
            left:30px;
        }
        .match-front , .match-cover  {
width: 65px;
height: 65px;
        }
        .match-title {
          font-size: 20px;
        }
        .match-turns ,  .match-Btn , .tictac-winner ,.tic-reset , .boom-tryAgain{
          font-size: 15px;
        }
        .tictac-title {
          font-size: 35px;
        }
        .tictac-square{
          height:100px;
              width:100px;
              font-size:45px;
             }

             .boom-cellStyle {
              width: 25px;
              height: 25px;
              font-size: 15px;
             }

             .boom-title {
             font-size: 25px;
             margin-bottom: 20px;
             }
      }

      @media screen and (max-width:400px) and (min-width:300px) {
        .tic-home {
          width: 25px;
            height: 25px;
            left:20px;
        }
        .match-front , .match-cover  {
width: 55px;
height: 55px;
        }
        .match-title {
          font-size: 15px;
        }
        .match-turns ,  .match-Btn , .tictac-winner ,.tic-reset ,.boom-tryAgain {
          font-size: 15px;
        }

        .tictac-title {
          font-size: 35px;
        }
        .tictac-square{
          height:90px;
              width:90px;
              font-size:40px;
             }


             .boom-cellStyle {
              width: 20px;
              height: 20px;
              font-size: 12px;
             }

             .boom-title {
             font-size: 20px;
             margin-bottom: 20px;
             }
      }

